{
  //"presets": ["env", "react", "es2015", "stage-1", "mobx"],
  "presets": ["es2015", "stage-1", "env", "react"],
  "plugins": ["transform-class-properties", "transform-regenerator", "transform-decorators-legacy"]
}
